.footer {
    background: #040519;
    color: white;
    text-align: center;
    padding: 35px 0 55px;
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

.footerTop {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
}

.footerLogo {
    width: 135px;
    margin: 0 auto 35px;
}

.conditions {
    margin-bottom: 5px;
}

.conditions > p {
    display: table;
    margin: 0 auto 20px;
}

.footerBottom {
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(23, 43, 77);;
   
}

@media (min-width: 768px) {
    .footer {
        text-align: left;
    }

    .footerLogoTop {
        display: flex;
    }

    .footerTop {
        max-width: 768px;
    }
}