.form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 0 10px;
}

.options {
    position: absolute;
}

.inputs > label {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5px 0;
}

.input, 
.firstNumber, 
.secondNumber {
    height: 30px;
    font-size: 1rem;
}

.numbersInput {
    display: flex;
}

.firstNumber {
    width: 60px;
    margin-right: 10px;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid grey;
}

.secondNumber {
    flex: 1;
}

.error {
    color: red;
    text-align: center;
    margin: 0;
}

.countriesList {
    padding: 5px;
    position: absolute;
    top: 1010px;
    left: 80px;
    border: 1px solid grey;
    width: 250px;
    z-index: 100;
    background-color: white;
}

.countriesSearchBar {
    border: 1px solid grey;
    margin: 5px auto;
    width: 100%;
    height: 30px;
}

.countriesLists {
    overflow-y: scroll;
    height: 200px;
}

.countries {
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 13px;
    margin-top: 5px;

}

.countries > img, .countries > p {
    margin-right: 5px;
}

.submitButton {
    background-color: var(--native_color);
    height: 40px;
    border: none;
    margin-top: 10px;
    width: 80%;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0px 4px 9px rgb(0 0 0 / 25%);
}

@media (min-width: 768px) {
    .inputs {
        margin: 5px 10px;
    }

    .inputs > label {
        font-size: 1rem;
        font-weight: 200;
    }

    .submitButton {
        height: 50px;
        width: 90%;
        border-radius: 30px;
    }
}

@media (min-width: 900px) {
    .inputs {
        margin: 5px 10px;
    }

    .inputs > label {
        font-size: 1rem;
        font-weight: 200;
    }

    .submitButton {
        height: 50px;
        width: 90%;
        border-radius: 30px;
    }
}