.firstSection {
    background-image: url(//alcest-investlite.com/static/common/../funnels/amz_info_4620_2_es_lat/images/bg-top-mobile.jpg?v=45525);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    position: relative;
    left: -35px;
    z-index: 10;
    width: 80%;
  }

.firstSectionTexts {
     position: absolute;
    top: 70px;
    text-align: end;
    left: 110px;
}
.amazon {
    color: var(--native_color);
    font-weight: 800;
    font-size: 2.6rem;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.investNow {
    color: var(--native_color);
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 1.4rem;
}

.invest {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

@media (min-width: 400px) {
    .firstSectionTexts {
        top: 80px;
        left: 200px;
    }

    .image {
        left: -10px;
        width: 70%;
    }

    .amazon {
        font-size: 2.6rem;
    }
    
    .investNow {
        font-size: 1.5rem;
    }
    
    .invest {
        font-size: 1.3rem;
    }
}

@media (min-width: 550px) {
    .firstSectionTexts {
        left: 300px;
    }
}

@media (min-width: 768px) {
    .firstSection {
        height: 430px;
    }

    .firstSectionTexts {
        left: 200px;
    }

    .image {
        top: -5px;
        left: -15px;
        width: 45%;
      }
}

@media (min-width: 900px) {
    .firstSection {
        height: 450px;
        overflow: hidden;
    }

    .firstSectionTexts {
        left: 300px;
    }

    .amazon {
        font-size: 3.4rem;
    }
    
    .investNow {
        text-align: center;
    }
    
    .invest {
        text-align: left;
        font-size: 1.6rem;
    }

    .image {
        top: 45px;
        left: 60px;
        width: 30%;
      }
}

@media (min-width: 900px) { 
    .firstSection {
        height: 580px;
    }

    .firstSectionTexts {
        left: 400px;
    }

    .invest {
        font-size: 1.8rem;
    }

    .amazon {
        font-size: 3.6rem;
    }

    .investNow {
        font-size: 1.8rem;
    }
    
    .image {
        top: 5px;
        left: 30px;
        width: 35%;
    }
}