.page {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 49px 0 5px 0;
    margin: 0 auto;
    max-width: 360px;
}
.page > h2 {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 126.1%;
    letter-spacing: 0.02em;
}

.svg1 {
    width: 44px;
    height: 48px;
}

.svg3 {
    width:47;
    height:47;
}

.svg3 {
    width:47;
    height:47;
}

.svg4 {
    width: 46px;
    height: 47px;
}

.toHome, .backHome {
    background-color: var(--native_color);
    border-radius: 100px;
    border: none;
    align-self: center;
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    line-height: 126.1%;
    padding: 13px 20px;
    margin: 0 16px;
    height: auto;
}

.backHome {
    margin-top: 38px;
}

.pageDetails {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
}

.infos {
    padding: 20px 22px 0;
    
}

.infoHead {
    font-family: 'Monteserrat', sans-serif;
    padding-left: 22px;
    border-left: 9px solid var(--native_color);
    letter-spacing: 0.02em;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 18px;
    font-weight: 700;
}

.info {
    margin-bottom: 27px;
}

.infos > button {
    margin-top: 20px;
}

.art_image {
    width: 100%;
    margin: 0 auto;
}

.art_image_image {
    width: 100%;
    display: block;
}

.bottomIcon > div {
    width: 80%;
    margin: 10px auto;
    height: 45px;
    background-image: url("//alcest-investlite.com/static/common/../funnels/amz_info_4620_2_es_lat/images/payment-methods.png?v=45720");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

.cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .page {
        position: relative;
        padding: 71px 0 0;
        max-width: 765px;
    }

    .page > h2 {
        font-size: 24px;
    }

    .cards {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
    }

    .svg1, .svg2, .svg3, .svg4 {
        width: 30px;
        height: 48px;
    }

    .toHome, .backHome {
        max-width: 497px;
        font-size: 16px;
        padding: 12px 0;
        margin: 0 16px;
        min-height: auto;
    }

    .infos {
        padding: 30px 10px 0;
    }

    .infoHead {
        font-size: 18px;
        padding: 0 0 0 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        height: 40px;

    }

    .pageDetails {
        padding: 0 10px;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
    }

    .info {
        width: 60%;
    }

    .info > p {
        max-width: 390px;
        font-size: 15px;
        line-height: 138.1%;
        margin-bottom: 27px;
    }

    .art_image {
        max-width: 317px;
        margin: 10px 0 0 0;
        padding-bottom: 5px;
    }
    
    .art_image_image {
        max-width: 100%;
        display: block;
    }

    .bottomIcon {
        width: 340px;
        margin: 5px auto;
    }
}

/* @media (min-width: 1199px) {
    .page {
        margin-top: 80px;
    }

    .pageDetails {
        margin: 0 120px 60px 120px;
    }

    .info {
        font-size: 1.4rem;
    }

    .art_image {
        top: -60px;
       
    }

    .infoHead {
        margin-left: 120px;
    }
} */

